In [321]:
import numpy as np
import pandas as pd

#pd.set_option('display.max_rows', 500)

In [322]:
# Abre os arquivos
treino = pd.read_csv('train.csv')
teste = pd.read_csv('test.csv')

# Damos uma espiada no data frame
treino.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Sempre legal dar uma olhada nas estatísticas do data frame. Aqui já temos noção de como os dados estão, por exemplo se tem Age negativos, ou a Age com mais de 200 anos.. ja pensou?

In [323]:
treino.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Depois que a gente conheceu os dados de treino, vamos ver sem tem features com valures NULL

In [324]:
treino.isnull().sum().sort_values()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
Age            177
Cabin          687
dtype: int64

In [325]:
teste.isnull().sum().sort_values()

PassengerId      0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Embarked         0
Fare             1
Age             86
Cabin          327
dtype: int64

Idade nula é um porblema. Vamos resolver isso assim: Subsituir os nulos pela média, mas vamos fazer de forma aleatória levando em conta o range dentro do desvio padrão.

In [326]:
# TREINO
media = treino['Age'].mean()
desvio = treino['Age'].std()
total_nulos = treino['Age'].isnull().sum()

# Cria um array com a quantidade de Ages em branco
total_nulos_randomicos = np.random.random_integers(media-desvio, media+desvio,size=total_nulos)
# Aplica o array nos registros do data frame que estao com idade null
treino['Age'][np.isnan(treino['Age'])] = total_nulos_randomicos

# APLICA NO TESTE
media = teste['Age'].mean()
desvio = teste['Age'].std()
total_nulos = teste['Age'].isnull().sum()

# Cria um array com a quantidade de Ages em branco
total_nulos_randomicos = np.random.random_integers(media-desvio, media+desvio,size=total_nulos)
# Aplica o array nos registros do data frame que estao com idade null
teste['Age'][np.isnan(teste['Age'])] = total_nulos_randomicos

In [327]:
# Vamos ver se deu bom...
print('Age null em treino: ', treino['Age'].isnull().sum())
print('Age null em teste: ', teste['Age'].isnull().sum())

Age null em treino:  0
Age null em teste:  0

O campo sexo precisa ser transformado em binário.

In [328]:
# Tratamentos
treino['Sex_binario'] = treino['Sex'].apply(lambda x: 1 if x == 'female' else 0)
teste['Sex_binario'] = teste['Sex'].apply(lambda x: 1 if x == 'female' else 0)

Vamos jogar os caras null para -1

In [329]:
treino.fillna(value=-1)
teste.fillna(value=-1)

    36928  164.8667
401    male  38.00      1      0               28664   21.0000
402  female  22.00      0      1              112378   59.4000
403    male  17.00      0      0              113059   47.1000
404    male  43.00      1      0               17765   27.7208
405    male  20.00      0      0       SC/PARIS 2166   13.8625
406    male  23.00      1      0               28666   10.5000
407    male  50.00      1      1              113503  211.5000
408  female  35.00      0      0              334915    7.7208
409  female   3.00      1      1  SOTON/O.Q. 3101315   13.7750
410  female  41.00      0      0              365237    7.7500
411  female  37.00      1      0               19928   90.0000
412  female  28.00      0      0              347086    7.7750
413    male  43.00      0      0           A.5. 3236    8.0500
414  female  39.00      0      0            PC 17758  108.9000
415    male  38.50      0      0  SOTON/O.Q. 3101262    7.2500
416    male  28.00      0      0              359309    8.0500
417    male  30.00      1      1                2668   22.3583

               Cabin Embarked  Sex_binario
0                 -1        Q            0
1                 -1        S            1
2                 -1        Q            0
3                 -1        S            0
4                 -1        S            1
5                 -1        S            0
6                 -1        Q            1
7                 -1        S            0
8                 -1        C            1
9                 -1        S            0
10                -1        S            0
11                -1        S            0
12               B45        S            1
13                -1        S            0
14               E31        S            1
15                -1        C            1
16                -1        Q            0
17                -1        C            0
18                -1        S            1
19                -1        C            1
20                -1        C            0
21                -1        S            0
22                -1        S            1
23                -1        C            0
24   B57 B59 B63 B66        C            1
25                -1        S            0
26               B36        C            1
27                -1        C            0
28               A21        S            0
29                -1        C            0
30                -1        S            0
31                -1        S            0
32                -1        S            1
33                -1        S            1
34               C78        C            0
35                -1        C            0
36                -1        S            1
37                -1        S            1
38                -1        S            0
39                -1        S            0
40                -1        C            0
41               D34        S            0
42                -1        S            0
43                -1        S            1
44               D19        S            1
45                -1        S            0
46                A9        C            0
47                -1        Q            0
48               D15        C            1
49                -1        S            1
50               C31        S            0
51                -1        C            0
52                -1        S            1
53       C23 C25 C27        S            1
54                -1        C            0
55                -1        Q            0
56                -1        S            0
57             F G63        S            0
58                -1        S            0
59               B61        C            1
60                -1        S            0
61                -1        S            0
62                -1        S            0
63                -1        Q            1
64   B57 B59 B63 B66        C            0
65                -1        S            1
66                -1        Q            1
67                -1        S            0
68               C53        C            0
69       C23 C25 C27        S            1
70                -1        Q            1
71                -1        S            0
72                -1        S            1
73               D43        C            0
74              C130        C            1
75              C132        C            0
76                -1        S            0
77              C101        S            1
78                -1        S            0
79                -1        Q            1
80                -1        C            0
81           C55 C57        S            0
82                -1        S            0
83                -1        S            0
84                -1        Q            0
85                -1        C            0
86                -1        Q            1
87                -1        S            1
88                -1        Q            1
89                -1        S            0
90                -1        S            1
91                -1        S            0
92               B71        S            1
93                -1        S            0
94                -1        C            0
95                -1        S            0
96               C46        S            1
97                -1        S            0
98                -1        S            1
99                -1        S            0
100             C116        C            1
101               -1        S            0
102               -1        Q            0
103               -1        S            0
104               -1        C            1
105               -1        S            0
106               -1        Q            0
107               -1        Q            0
108               -1        S            0
109                F        S            0
110               -1        C            0
111               -1        Q            1
112              A29        C            1
113               -1        Q            1
114          C55 C57        S            1
115               -1        C            0
116               -1        C            0
117               G6        S            1
118               C6        C            0
119               -1        S            1
120               -1        S            1
121               -1        Q            0
122              C28        C            1
123               -1        S            0
124               -1        Q            0
125               -1        S            1
126               -1        S            0
127               -1        Q            1
128               -1        S            0
129               -1        S            0
130               -1        S            0
131              C51        C            0
132               -1        S            1
133               -1        C            0
134               -1        S            0
135               -1        S            0
136               -1        C            0
137               -1        S            0
138               -1        S            1
139               -1        S            0
140               -1        S            1
141               -1        S            1
142  B57 B59 B63 B66        C            0
143               -1        S            0
144               -1        S            0
145               -1        S            0
146              E46        S            0
147               -1        S            0
148               -1        S            0
149               -1        S            0
150              C54        C            1
151               -1        C            0
152               -1        S            0
153               -1        S            1
154               -1        S            0
155               -1        S            0
156              C97        S            1
157               -1        S            1
158              D22        S            0
159               -1        S            1
160               -1        Q            1
161               -1        C            0
162               -1        S            1
163               -1        S            0
164               -1        S            0
165               -1        S            1
166              B10        C            0
167               -1        S            0
168               -1        C            1
169               -1        S            1
170               -1        S            0
171               -1        C            0
172               -1        S            0
173               -1        C            0
174               -1        S            0
175               -1        S            1
176               -1        S            1
177             C116        C            0
178               F4        S            1
179              E45        C            1
180               -1        S            0
181              E52        C            0
182              D30        S            1
183               -1        Q            0
184          B58 B60        C            1
185               -1        S            0
186               -1        S            1
187               -1        S            0
188               -1        S            1
189               -1        S            0
190               -1        S            0
191               -1        S            0
192               -1        S            0
193               -1        Q            0
194               -1        S            0
195               -1        S            0
196              E34        C            0
197               -1        S            1
198               -1        S            0
199               -1        S            1
200               -1        Q            1
201               -1        S            0
202          C62 C64        C            0
203               -1        S            1
204               -1        S            0
205               -1        C            0
206               -1        Q            1
207               -1        S            0
208              A11        C            1
209               -1        S            0
210               -1        S            0
211               -1        S            0
212               -1        S            0
213               -1        S            1
214               -1        S            1
215              B11        S            0
216               -1        Q            1
217               -1        S            0
218              C80        C            1
219               -1        S            0
220               -1        C            1
221               -1        S            0
222              F33        S            1
223               -1        S            0
224               -1        C            1
225               -1        C            1
226               -1        S            0
227               -1        Q            1
228               -1        S            0
229               -1        S            0
230               -1        S            0
231               -1        S            1
232               -1        S            0
233               -1        Q            0
234              C85        C            0
235               -1        S            0
236              D37        C            0
237               -1        C            0
238               -1        S            1
239              C86        C            1
240               -1        C            1
241               -1        S            1
242              E34        C            0
243               -1        S            0
244               -1        S            0
245              D21        S            0
246               -1        S            1
247               -1        S            0
248               -1        S            1
249               -1        C            1
250               -1        S            1
251               -1        S            0
252              C89        C            0
253               -1        S            0
254               -1        S            0
255               -1        S            0
256               -1        Q            0
257               -1        S            0
258               -1        S            1
259               -1        S            0
260               -1        S            0
261               -1        S            0
262               -1        S            1
263               -1        S            1
264               -1        C            0
265               -1        S            0
266               -1        S            0
267               -1        S            0
268               -1        S            1
269               -1        S            0
270               C6        C            0
271               -1        Q            0
272              C89        C            1
273               -1        Q            1
274               -1        C            0
275               -1        S            1
276               -1        S            0
277               -1        S            0
278               -1        S            0
279               -1        S            0
280               -1        S            1
281               -1        S            0
282               -1        Q            1
283               -1        C            1
284               -1        S            1
285               -1        S            0
286               -1        S            0
287              B45        S            0
288            F E46        C            0
289               -1        S            0
290               -1        S            0
291               -1        Q            1
292               -1        C            0
293              A34        S            0
294               -1        S            0
295               -1        S            0
296               -1        C            1
297               -1        C            0
298               -1        S            0
299               -1        S            0
300               -1        S            0
301                D        C            0
302               -1        S            0
303               -1        S            0
304               -1        Q            1
305              B26        S            1
306          C22 C26        S            0
307               -1        S            0
308              B69        S            0
309               -1        S            1
310               -1        S            0
311               -1        C            0
312               -1        S            0
313               -1        Q            1
314              C32        C            1
315               -1        Q            1
316              B78        C            0
317               -1        S            0
318               -1        S            0
319               -1        S            0
320               -1        S            0
321            F E57        C            0
322               F2        S            0
323               -1        S            0
324               -1        S            1
325               -1        S            0
326               F4        S            1
327               -1        C            0
328               -1        S            0
329               -1        S            0
330               -1        S            1
331              A18        C            0
332               -1        C            0
333               -1        C            1
334               -1        S            0
335             C106        S            0
336               -1        S            0
337               -1        C            0
338               -1        S            0
339               -1        C            0
340               -1        S            0
341               -1        S            0
342               -1        S            0
343      B51 B53 B55        C            1
344               -1        S            0
345               -1        S            1
346               -1        S            0
347               -1        C            1
348               -1        S            0
349               -1        S            1
350          D10 D12        C            1
351               -1        S            0
352               -1        S            0
353               -1        S            0
354               -1        S            1
355              E60        S            0
356             C101        S            1
357               -1        S            0
358               -1        Q            0
359               -1        S            1
360               -1        S            0
361               -1        C            1
362               -1        S            1
363               -1        S            0
364              E50        C            1
365               -1        S            1
366               -1        C            0
367               -1        S            1
368               -1        C            1
369               -1        C            0
370               -1        S            0
371          E39 E41        C            1
372      B52 B54 B56        S            0
373               -1        S            0
374              A34        S            1
375               -1        C            1
376               -1        S            1
377               -1        S            0
378              C39        S            0
379               -1        S            0
380               -1        Q            0
381               -1        Q            0
382               -1        S            1
383               -1        S            1
384               -1        S            0
385               -1        S            1
386               -1        S            0
387               -1        S            0
388               -1        Q            0
389               -1        S            0
390              B24        S            0
391              D28        S            1
392               -1        S            0
393               -1        S            0
394               -1        S            0
395              C31        S            1
396               -1        Q            0
397              B41        C            1
398               -1        S            0
399               -1        Q            0
400               C7        S            1
401               -1        S            0
402               -1        C            1
403               -1        S            0
404              D40        C            0
405              D38        C            0
406               -1        S            0
407              C80        C            0
408               -1        Q            1
409               -1        S            1
410               -1        Q            1
411              C78        Q            1
412               -1        S            1
413               -1        S            0
414             C105        C            1
415               -1        S            0
416               -1        S            0
417               -1        C            0

Vamos criar umas features... pensar em algumas hipóteses.

TREINO

In [330]:
# Se reparar nos nomes, existem alguns títulos.
treino['is_mr'] = treino['Name'].str.contains('Mr.')
treino['is_mrs'] = treino['Name'].str.contains('Mrs.')
treino['is_miss'] = treino['Name'].str.contains('Miss.')
treino['is_rev'] = treino['Name'].str.contains('Rev.')
treino['is_master'] = treino['Name'].str.contains('Master.')
treino['is_dr'] = treino['Name'].str.contains('Dr.')

# Junta a informação se o passageiro esta sozinho, com filhos e/ou marido. Seria o total de pessoas da familia viajando juntos, algo assim.
treino['relatives'] = treino.apply(lambda row: int(row['SibSp'] + row['Parch'])>0, axis=1)

# Uma classificação por faixa etária
treino['faixa_idade'] = treino['Age']/12
# Se é criança
treino['is_children'] = treino.apply(lambda row: row['Age']<15, axis=1)
# Se é idoso
treino['is_old'] = treino.apply(lambda row: row['Age']>60, axis=1)

# Prmeira letra da cabine, imaginei que isso pode influenciar pelo fato de estar no inicio/final de corredor, andar diferente, enfim... 
treino['cabin_fst_letter'] = treino['Cabin'].str[0:1]
treino['cabin_fst_letter'].replace(np.nan, -1, inplace=True) # soh acerta o que ficou como NULL

treino['cabine_is_null'] = treino['Cabin'].isnull().astype(int)

treino['embarked_s'] = (treino['Embarked'] == 'S').astype(int)
treino['embarked_c'] = (treino['Embarked'] == 'C').astype(int)

Vamos criar umas features... pensar em algumas hipóteses.

TESTE

In [331]:
# Se reparar nos nomes, existem alguns títulos.
teste['is_mr'] = teste['Name'].str.contains('Mr.')
teste['is_mrs'] = teste['Name'].str.contains('Mrs.')
teste['is_miss'] = teste['Name'].str.contains('Miss.')
teste['is_rev'] = teste['Name'].str.contains('Rev.')
teste['is_master'] = teste['Name'].str.contains('Master.')
teste['is_dr'] = teste['Name'].str.contains('Dr.')

# Junta a informação se o passageiro esta sozinho, com filhos e/ou marido. Seria o total de pessoas da familia viajando juntos, algo assim.
teste['relatives'] = teste.apply(lambda row: int(row['SibSp'] + row['Parch'])>0, axis=1)

# Uma classificação por faixa etária
teste['faixa_idade'] = teste['Age']/12
# Se é criança
teste['is_children'] = teste.apply(lambda row: row['Age']<15, axis=1)
# Se é idoso
teste['is_old'] = teste.apply(lambda row: row['Age']>60, axis=1)

# Prmeira letra da cabine, imaginei que isso pode influenciar pelo fato de estar no inicio/final de corredor, andar diferente, enfim... 
teste['cabin_fst_letter'] = teste['Cabin'].str[0:1]
teste['cabin_fst_letter'].replace(np.nan, -1, inplace=True) # soh acerta o que ficou como NULL

teste['cabine_is_null'] = teste['Cabin'].isnull().astype(int)

teste['embarked_s'] = (teste['Embarked'] == 'S').astype(int)
teste['embarked_c'] = (teste['Embarked'] == 'C').astype(int)

Muito importante dar um check na correlação das variáveis com o nosso target. Vamos usar isso para limpar o data frame ou para excluir alguma feature na hora da predição.

In [332]:
#treino.corr().abs()[["Survived"]]

In [333]:
# Pinto os nomes das colunas pra conseguir copiar e colar abaixo :)
treino.columns.values

array(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Sex_binario',
       'is_mr', 'is_mrs', 'is_miss', 'is_rev', 'is_master', 'is_dr',
       'relatives', 'faixa_idade', 'is_children', 'is_old',
       'cabin_fst_letter', 'cabine_is_null', 'embarked_s', 'embarked_c'],
      dtype=object)

In [334]:
# Vou usar essas colunas como preditoras
colunas = ['Sex_binario', 'Pclass',  'Embarked', 'Fare', 'SibSp', 'Parch',
           'is_mr', 'is_mrs', 'is_miss', 'is_rev', 'is_master',
            'is_dr', 'relatives', 'cabin_fst_letter', 'faixa_idade',
            'is_children', 'is_old', 'cabine_is_null', 'embarked_s', 'embarked_c'
            
]

In [335]:
# Transformo algumas features categoricas
for coluna in ['Cabin', 'Embarked', 'cabin_fst_letter']:
    treino[coluna]=pd.Categorical(treino[coluna]).codes
    teste[coluna]=pd.Categorical(teste[coluna]).codes

Agora sim, vamos pa predição

In [336]:
entradas = colunas
saida = 'Survived'

X = treino[entradas]
y = treino[saida]
X = X.fillna(-1)

from sklearn.model_selection import train_test_split

In [337]:
# validacao cruzada
from sklearn.model_selection import RepeatedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
print('Colunas:', X.columns.values)
resultados = []
kf = RepeatedKFold(n_splits=2, n_repeats=10, random_state=10)
#modelo = RandomForestClassifier(n_estimators=1000, n_jobs=-1,random_state=1, max_depth=50)
modelo = LogisticRegression()
for linhas_treino, linhas_teste in kf.split(X):

    X_treino, X_valid = X.iloc[linhas_treino], X.iloc[linhas_teste]
    y_treino, y_valid = y.iloc[linhas_treino], y.iloc[linhas_teste]
    
    modelo.fit(X_treino, y_treino)

    p = modelo.predict(X_valid)

    acc = np.mean(y_valid == p)
    print('Acuracia: ', acc)
    resultados.append(acc)
        
print('Media acuracia:',  np.mean(resultados))

Colunas: ['Sex_binario' 'Pclass' 'Embarked' 'Fare' 'SibSp' 'Parch' 'is_mr' 'is_mrs'
 'is_miss' 'is_rev' 'is_master' 'is_dr' 'relatives' 'cabin_fst_letter'
 'faixa_idade' 'is_children' 'is_old' 'cabine_is_null' 'embarked_s'
 'embarked_c']
Acuracia:  0.8251121076233184
Acuracia:  0.797752808988764
Acuracia:  0.8295964125560538
Acuracia:  0.8179775280898877
Acuracia:  0.8183856502242153
Acuracia:  0.802247191011236
Acuracia: 0.8228699551569507
Acuracia:  0.8112359550561797
Acuracia:  0.8340807174887892
Acuracia:  0.8179775280898877
Acuracia:  0.820627802690583
Acuracia:  0.8224719101123595
Acuracia:  0.8430493273542601
Acuracia:  0.8202247191011236
Acuracia: 0.820627802690583
Acuracia:  0.8247191011235955
Acuracia:  0.8408071748878924
Acuracia:  0.8089887640449438
Acuracia:  0.8251121076233184
Acuracia:  0.8359550561797753
Media acuracia: 0.8219909810046857

In [338]:
predict = modelo.predict(teste[entradas].fillna(-1))

# para facilitar o nome do arquivo
file_saida = input('Digite um nome de arquivo para gerar uma submissao: ')

if file_saida != '':
    sub = pd.Series(predict, index=teste['PassengerId'], name='Survived')
    sub.to_csv(file_saida + '.csv')
    print('Arquivo gerado com sucesso :)')

Arquivo gerado com sucesso :)